<section class="content-container" [hidden]="hide">
  <div (click)="onHideImage()" class="cross-icon">X</div>
  <h1>{{ onGeerting() }}</h1>
  <img [src]="source" alt="image" />
  <app-notification></app-notification>
  <app-search></app-search>
</section>
<section [hidden]="!hide" class="angular-tut">
  <div
    *ngFor="let navigation of navigationData; let i = index"
    class="app-navigator"
  >
    <div class="navigation-container">
      <div class="add-icon" (click)="onButtonPressed(i)">+</div>
      <div class="navigation-title">{{ navigation }}</div>
    </div>
    <div class="navigator-content">
      <!-- <div class="navigator-line"></div> -->
      <div [hidden]="i + 1 == itemnumber ? false : true" class="page-content">
        <h5>Two way data binding</h5>
        <app-controllesearch></app-controllesearch>
      </div>
    </div>
  </div>

  <div>
    <div>Directive *ngFor overview</div>

    <div *ngFor="let product of products" class="product-container">
      <div>
        <img
          alt="product img"
          [src]="product?.imgUrl"
          width="100px"
          height="100px"
        />
      </div>
      <div class="m-l">
        <h5>{{ product?.name }}</h5>
        <p class="product-price">{{ product?.price }}</p>
      </div>
      <div class="product-button">
        <button type="button" class="btn btn-info">view product</button>
        <button
          type="button"
          class="btn btn-success"
          *ngIf="product.availability === 'availabe'; else elseBlock"
        >
          add item
        </button>
        <ng-template #elseBlock>
          <button type="button" class="btn btn-danger">notify me</button>
        </ng-template>
      </div>
    </div>
  </div>

  <div>
    <h6>data viz</h6>
    <app-simple-graph></app-simple-graph>
  </div>

  <app-graph-dash></app-graph-dash>

  <app-bar-chart></app-bar-chart>

  <app-second-bar-chart></app-second-bar-chart>
  <app-student-graph></app-student-graph>
  <app-emp-details></app-emp-details>
</section>
